.badge {
    float: right;
    padding: 3px 7px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #74dd57;
    border-radius: 50%;
  }